PORT=4000
MONGODB_URI="mongodb+srv://username:password@cluster.mongodb.net/car-app?retryWrites=true&w=majority"


BAKONG_STORE_LABEL=SITE-C
BAKONG_TERMINAL_LABEL=WEB-C
BAKONG_ACCOUNT_ID=your_account_id@bkrt
BAKONG_ENV=production
BAKONG_MOCK=false
BAKONG_MERCHANT_CITY="Phnom Penh"
BAKONG_MERCHANT_NAME="AutoElite"
BAKONG_TOKEN=your_bakong_token


# Optional for this app backend. Leave unset unless your Bakong setup needs them.
# BAKONG_MERCHANT_ID=your_merchant_id
# BAKONG_ACQUIRING_BANK=your_bank_code
# BAKONG_MERCHANT_MOBILE="855XXXXXXXX"
# BAKONG_MERCHANT_CATEGORY_CODE=5999
