<ion-content [fullscreen]="true">
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<!-- Bottom Navigation -->
<div class="bottom-navigation">
  <div
    class="nav-item"
    [class.active]="getActiveTab() === 'home'"
    (click)="navigateTo('/home')"
  >
    <ion-icon name="home"></ion-icon>
    <span>Home</span>
  </div>
  <div
    class="nav-item"
    [class.active]="getActiveTab() === 'explore'"
    (click)="navigateTo('/explore')"
  >
    <ion-icon name="compass-outline"></ion-icon>
    <span>Explore</span>
  </div>
  <div
    class="nav-item"
    [class.active]="getActiveTab() === 'favorites'"
    (click)="navigateTo('/favorites')"
  >
    <ion-icon name="heart-outline"></ion-icon>
    <span>Favorites</span>
  </div>
  <div
    class="nav-item"
    [class.active]="getActiveTab() === 'account'"
    (click)="navigateTo('/account')" 
  >
    <ion-icon name="person-outline"></ion-icon>
    <span>Account</span>
  </div>
</div>